.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 3rem;
  transition: all 300ms ease;
}

/* Toggle Button */
.bars {
  display: none;
}

/* Logo */
.logo2 {
  display: flex;
  height: 3.5rem;
  font-weight: bolder;
  font-size: 25px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.logo2 > span > span {
  color: var(--pink);
}
.logo2 > img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Menu */
.menu2 {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  overflow-y: auto;
  max-height: calc(100vh - 8rem); /* adjust based on your layout */
  padding-right: 0.5rem;
}
.menuItem2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}
.menuItem2:hover {
  cursor: pointer;
}
.menu2 .menuItem2:last-child {
  position: static;
  margin-top: auto;
}

.active {
  background: var(--activeItem);
  margin-left: 0;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

/* Tablet view */
@media screen and (max-width: 1200px) {
  .menuItem2 > span {
    display: none;
  }
  .logo2 {
    display: none;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
.menu2 {
 margin-top: 1.3rem;
 gap: 1rem;
}

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #ffe0e0;
    width: 72%;
    padding-right: 1rem;
    padding-top: 4rem;
    height: 100vh;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
    align-self: start;
    height: fit-content;
    transition: left 0.3s ease;
  }

  .menuItem2 > span {
    display: block;
  }

  .logo2 {
    display: flex;
  }

  .menu2 .menuItem2:last-child {
    position: static;
    margin-top: auto;
  }

  .bars {
    display: flex;
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    background: var(--orange);
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    cursor: pointer;
  }
}
