.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

.member-details {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .member-details table td {
    padding: 6px 10px;
    vertical-align: top;
  }

  .member-details-table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    table-layout: auto;
  }
  
  .member-details-table tr {
    border-bottom: 1px solid var(--appColor);
  }

  .member-details td {
    padding: 8px;
    vertical-align: top;
  }
  
  .member-details td:first-child {
    white-space: nowrap; /* keeps label inline */
    font-weight: 500;
    width: 1%;
  }